doctype html
if page_rendered
    html(lang='en')
        head
            title Tourney Gen - Team
            link(rel="shortcut icon" href="./../resources/favicon.ico")
            link(rel="stylesheet" href="./../css/tourneygen.css")
            //- TODO: Leagues has shared functionality code that should be in
            //- a shared css: ex. Logged in view 
            link(rel="stylesheet" href="./../css/leagues.css")
            link(rel="stylesheet" href="./../css/team.css")
        include logout.pug
        body
            div(class='home-container')
                div(class='category-card')
                    include errors/error_message.pug
                    div
                        p(class='category-card-title')
                            | #{team.name}
                        p(id="team-description") 
                            | #{team.description}
                        p(id="team-owner") 
                            | Owner:
                            | #{owner.name}
                        p(id="league")
                            | League: 
                            a(href='/league/' + league.id)
                                | #{league.name}
                        p(id="team-roster") 
                            | Roster:
                            br
                            for member in team.roster
                                | #{member}
                                br
                        p(id="team-record")
                            | Record: #{team.wins} - #{team.losses}
                        p(id="team-rating")
                            | ELO: #{team.rating}

                    div(class='button')
                        a(href='/' data-toggle="modal" class='button' id = 'new-league') 
                            | Home
                        //- Todo: Make this return to league view
            if current_user._id == owner._id
                include adminpanels/extensions/team-adminpanel.pug

                - var modalId = "edit-team-modal"
                - var modalOpeners = [ "edit-team" ]
                - var modalClosers = [ "cancel-edit-team", "submit-edit-team" ]
                - var teamId = team.id
                - var teamName = team.name
                - var teamDescription = team.description
                - var teamRoster = String(team.roster).trim('[', ']')

                include modals/extensions/editTeam/modal.pug

                - var modalId = "delete-team-modal"
                - var modalOpeners = [ "delete-team" ]
                - var modalClosers = [ "cancel-delete-team" + team.id , "submit-delete-team" ]
                - var teamId = team.id
                include modals/extensions/deleteTeam/modal.pug
                