doctype html
if page_rendered
    html(lang='en')
        head
            title Tourney Gen - League
            link(rel="shortcut icon" href="./../resources/favicon.ico")
            link(rel="stylesheet" href="./../css/tourneygen.css")
            link(rel="stylesheet" href="./../css/leagues.css")
        include logout.pug
        body
            div(class='home-container')
                div(class='category-card')
                    include errors/error_message.pug
                    p(class='category-card-title')
                        | #{league.name}
                    p(id="league-game-type") 
                        | #{league.game_type}
                    p(id="league-description") 
                        | #{league.description}
                    // This is the display tournament code. Once they have been added, the
                    // coming soon code should be replaced with this. 
                    //p
                    //    | Tournaments                 
      
                    //    div(class='category-card-entry-container')
                    //        if tournaments && tournaments.length > 0
                    //            for tourney in tournaments
                    //                a(href='/leagues' class = 'list-item category-card-entry-list-item')
                    //                    div(class='category-card-entries')
                    //                        p(class='category-list')
                    //                            | #{tourney.name}      
                    //        else
                    //            div(class='category-card-entries')
                    //                 p No tournaments currently scheduled.
                    p
                        | Matches
                        div(class='category-card-entry-container')
                            if matches && matches.length > 0
                                for match in matches
                                    a(href='/match/' + match.id class = 'list-item category-card-entry-list-item')
                                        div(class='category-card-entries')
                                            p(class='category-list')
                                                | #{match.name}    
                                            if match.confirmed  
                                                p(class='finished-match')
                                                    | Completed
                                            else if match.in_conflict
                                                p(class='conflicting-match')
                                                    | Unresolved Conflict
                                            else if !match.confirmed
                                                p(class='match-in-progress')
                                                    | In progress
                            else
                                div(class='category-card-entries')
                                    p No matches currently scheduled.
                    p
                        | Teams
                        div(class='category-card-entry-container')
                            if teams && teams.length > 0
                                for team in teams
                                    div(class='category-card-entries')
                                        a(href='/team/' + team.id class = 'list-item category-card-entry-list-item')
                                            p(class='category-list')
                                                | #{team.name}      
                                        if current_user._id == team.owner || current_user._id == league.owner
                                            div(class = 'delete-team')
                                                a(data-toggle="modal" class='category-list delete-team-button' id = team.id)
                                                    | &times
                                                        
                            else
                                div(class='category-card-entries')
                                    p No teams currently exist.
                    p
                        | Tournaments are coming soon! If you're interested in this feature
                        | please send an email to Ross-Alexandra@outlook.com to be notified
                        | of its arrival.
                    div(class='button')
                            a(href='/' data-toggle="modal" class='button' id = 'new-league') 
                                | Home
            if league.owner == current_user._id
                include adminpanels/extensions/league-adminpanel/league-adminpanel.pug

                - var modalId = "add-team-modal"
                - var modalOpeners = [ "add-team" ]
                - var modalClosers = [ "cancel-add-team", "submit-add-team" ]
                - var leagueId = league._id
                include modals/extensions/addTeam/modal.pug

                - var modalId = "edit-league-modal"
                - var modalOpeners = [ "edit-league" ]
                - var modalClosers = [ "cancel-edit-league", "submit-edit-league" ]
                - var leagueId = league._id
                - var leagueName = league.name
                - var leagueDescription = league.description
                - var leagueGameType = league.game_type
                include modals/extensions/editLeague/modal.pug

                - var modalId = "delete-league-modal"
                - var modalOpeners = [ "delete-league" ]
                - var modalClosers = [ "cancel-delete-league", "submit-delete-league" ]
                - var leagueId = league._id
                include modals/extensions/deleteLeague/modal.pug

                - var modalId = "create-match-modal"
                - var modalOpeners = [ "create-match" ]
                - var modalClosers = [ "cancel-create-match", "submit-create-match" ]
                - var leagueId = league._id
                - var modal_teams = teams
                include modals/extensions/createMatch/modal.pug

            if teams && teams.length > 0
                for team in teams
                    if current_user._id == team.owner || current_user._id == league.owner
                        -var modalId = "delete-team-modal" + team.id
                        -var teamId = team.id
                        -var teamName = team.name
                        -var modalOpeners = team.id
                        -var modalClosers = [ 'cancel-delete-team' + team.id, 'submit-delete-team' + team.id]
                        include modals/extensions/deleteTeam/modal.pug
