doctype html
if page_rendered
    html(lang='en')
        head
            title Tourney Gen - League
            link(rel="shortcut icon" href="./../resources/favicon.ico")
            link(rel="stylesheet" href="./../css/tourneygen.css")
            link(rel="stylesheet" href="./../css/leagues.css")
        include logout.pug
        body
            div(class='home-container')
                div(class='category-card')
                    include errors/error_message.pug
                    p(class='category-card-title')
                        | #{league.name}
                    p(id="league-game-type") 
                        | #{league.game_type}
                    p(id="league-description") 
                        | #{league.description}
                    p
                        | Tournaments
                        div(class='category-card-entry-container')
                            if tournaments && tournaments.length > 0
                                for tourney in tournaments
                                    a(href='/leagues' class = 'list-item category-card-entry-list-item')
                                        div(class='category-card-entries')
                                            p(class='category-list')
                                                | #{tourney.name}      
                            else
                                div(class='category-card-entries')
                                    p No tournaments currently scheduled.
                    p
                        | Matches
                        div(class='category-card-entry-container')
                            if matches && matches.length > 0
                                each match, index in matches
                                    if index === 5
                                        - break
                                    a(href='/match/' + match.id class = 'list-item category-card-entry-list-item')
                                        div(class='category-card-entries')
                                            p(class='category-list')
                                                | #{match.name}      
                            else
                                div(class='category-card-entries')
                                    p No matches currently scheduled.
                    a(href="" class="match-view-all-button")
                        | View All Matches
                    p
                        | Teams
                        div(class='category-card-entry-container')
                            if teams && teams.length > 0
                                for team in teams
                                    a(href='/team/' + team.id class = 'list-item category-card-entry-list-item')
                                        div(class='category-card-entries')
                                            p(class='category-list')
                                                | #{team.name}      
                            else
                                div(class='category-card-entries')
                                    p No teams currently exist.
                    div(class='button')
                            a(href='/' data-toggle="modal" class='button' id = 'new-league') 
                                | Home
            if is_admin
                include adminpanels/extensions/league-adminpanel/league-adminpanel.pug

            - var modalId = "add-team-modal"
            - var modalOpeners = [ "add-team" ]
            - var modalClosers = [ "cancel-add-team", "submit-add-team" ]
            - var leagueId = league._id
            include modals/extensions/addTeam/modal.pug

            - var modalId = "edit-league-modal"
            - var modalOpeners = [ "edit-league" ]
            - var modalClosers = [ "cancel-edit-league", "submit-edit-league" ]
            - var leagueId = league._id
            - var leagueName = league.name
            - var leagueDescription = league.description
            - var leagueGameType = league.game_type
            include modals/extensions/editLeague/modal.pug

            - var modalId = "delete-league-modal"
            - var modalOpeners = [ "delete-league" ]
            - var modalClosers = [ "cancel-delete-league", "submit-delete-league" ]
            - var leagueId = league._id
            include modals/extensions/deleteLeague/modal.pug

            - var modalId = "create-match-modal"
            - var modalOpeners = [ "create-match" ]
            - var modalClosers = [ "cancel-create-match", "submit-create-match" ]
            - var leagueId = league._id
            - var modal_teams = teams
            include modals/extensions/createMatch/modal.pug
