doctype html
if page_rendered
    html(lang='en')
        head
            title Tourney Gen - Match
            link(rel="shortcut icon" href="./../resources/favicon.ico")
            link(rel="stylesheet" href="./../css/tourneygen.css")
            link(rel="stylesheet" href="./../css/match.css")
        include logout.pug
        body
            div(class='home-container')
                div(class='category-card')
                    include errors/error_message.pug
                    if match
                        p(class='match-title')
                            | #{match.name}
                        p(class='match-score')
                            | #{match.home_score} - #{match.away_score}
                        if (match.status == 'Conflicted')
                            p(class='match-pending')
                                | Match has conflicting reported scores; league owner has been notified.
                        else if match.status == 'Pending Update'
                            p(class='match-pending')
                                | Match still waiting for second report.
                        else if match.status == 'In_Progress'
                            p(class='match-pending')
                                | Match not yet completed 
                        else if match.status == 'Confirmed'
                            p(class='match-pending')
                                | Match Complete
                        div(class='league-view')
                            a(href= '../league/' + match.league)
                                | View league
                    div(class='teams-section')
                        if home_team
                            div(id='home-team')
                                p(class='team-title') 
                                    | Home Team
                                if (home_team.name)
                                    a(href = '../team/' + home_team.id class='team-name') 
                                        | #{home_team.name}
                                    p(class='team-record')
                                        | Record: #{home_team.wins} - #{home_team.losses}
                                    p(class='team-rating')
                                        | Rating: #{home_team.rating}
                                else 
                                    p(class='team-name')
                                        | Deleted Team
                        if away_team
                            div(id='away-team')
                                p(class='team-title') 
                                    | Away Team
                                a(href = '../team/' + away_team.id class='team-name') 
                                    | #{away_team.name}
                                p(class='team-record')
                                    | Record: #{away_team.wins} - #{away_team.losses}
                                p(class='team-rating')
                                    | Rating: #{away_team.rating}

                    div(class='button')
                        a(href='/' data-toggle="modal" class='button' id = 'new-league') 
                            | Home

            if ((current_user._id == home_team.owner) && (match.updated_by != home_team.id)) || ((current_user._id == away_team.owner) && (match.updated_by != away_team.id))
                if (match.status != 'Conflicted' && match.status != 'Confirmed')
                    include adminpanels/extensions/match-adminpanel/match-adminpanel.pug
                
                -var reporter;
                if (current_user._id == home_team.owner)
                    - reporter = home_team.id
                else
                    - reporter = away_team.id
                - var modalId = "report-result-modal"
                - var homeTeamId = home_team.id
                - var awayTeamId = away_team.id
                - var homeTeamName = home_team.name
                - var awayTeamName = away_team.name
                - var matchId = match.id
                - var modalOpeners = [ "report-match"]
                - var modalClosers = [ "cancel-report-result", "submit-report-result" ]
                include modals/extensions/reportResult/modal.pug
