html(lang='en')

    style
        include modal.css

    body
        div(class='content-obscure' id=modalId + '-obscurer')
        div(class="modal" id=modalId)
            block modal-content

        script
            include modal.js
        script.
            if (window.addEventListener) {
                window.addEventListener('load', () => {
                    // Register the included modal.

                    const modalId = '#{modalId}';
                    // Attempt to parse out the openers and closers.
                    // Its a csv, but if there's only one element, there
                    // will be no comma. Thus, check for a comma, if its
                    // there, then split on comma, if its not
                    // then just add a list containing the one string.
                    const modalOpeners = '#{modalOpeners}'.includes(',') ? '#{modalOpeners}'.split(',') : ['#{modalOpeners}'];
                    const modalClosers = '#{modalClosers}'.includes(',') ? '#{modalClosers}'.split(',') : ['#{modalClosers}'];

                    register_modal(modalId, modalOpeners, modalClosers);
                }, false);
            }
